.top40 {padding-top: 4em;}
.bottom30 {padding-bottom: 3em;}
.tagcloud {width:auto; height: 200px; }
body {background-color: #ffffff;}

#logo{
    background-color: #ffffff ;
    color: #E3F7F7;
    float: none;
    display: table-cell;

}

#logo a {
    background-color: transparent;
    text-decoration: none;
    color: #5bc0de !important;
}


.mainheader {
    float: none;
    display: table-cell;
}

#breadcrumbs {
    background-color: transparent;
}

.question-title {
    color: #8a6d3b !important;
}

#caption {
    text-color: #E3F7F7
}


.linkformatremoved{

}