@(user : User)
@main("addNewQuestion",user.username){


    <form action="@routes.AllQuestions.createQuestion(user.id)" method="post" class="text-center">

        <div class="row bottom30">
                <label for="question-title">Add your question</label><br>
                <input class="form-control" type="text" name="title" width="auto">
        </div>
        <div class="row bottom30">
            <label for="question-detail">Details</label><br>
            <textarea class="form-control" rows="5" type="text" name="detail"></textarea>
        </div>
        <div class="row bottom30">
            <label for="question-detail">Tags</label>
            <p>Please seperate the tags with a comma (",")!</p>
            <div class="col-sm-4 col-sm-offset-4">
                <input class="form-control" type="text" name="tags">
            </div>
        </div>
        <div class="row bottom30">
            <button class="bg-primary btn-lg" type="submit">
                <span class="glyphicon glyphicon-plus"></span>Save
            </button>
        </div>

    </form>
}
