@(id : Integer)(title : String)(user : User)

@main("addNewResponse", user.username) {
    <style type="text/css">
    .bs-example{
    margin: 20px;
    }
    </style>

    <div class="jumbotron">
        <form class="form-horizontal" action="@routes.AllQuestions.createResponse(id,user.id)" method="post">
            <div class="form-group">
                <label for="question" class="control-label col-xs-2">Question</label>
                <div class="col-xs-10">
                    <p name = "title" class="form-control-static">@title</p>
                </div>
            </div>

            <div class="form-group">
                <label for="response" class="control-label col-xs-2">Answer</label>
                <div class="col-xs-10">
                    <textarea class="form-control"  name="response" rows="15"></textarea>
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-cloud-upload"></span>Save</button>
                </div>
            </div>


        </form>
    </div>

  @* <h3 class="text-center ">@title</h3>
    <form action="@routes.AllQuestions.createResponse(id)" method="post" class="form-inline text-center">
        <div class="form-group">
            <label for="question-title">Add your response</label><br>
            <input class="form-control" type="text" name="response"><br><br><br>
            <button class="form-control" type="submit">Save</button><br>


        </div>
    </form>*@


}
