@(message: String)
@main("login","default"){
    <form action="@routes.AllQuestions.loginUser()" method="post" class="form-inline text-center">
        <h3>@message</h3>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username">
        </div><br><br>

        <div class="form-group">
          <label for="password">Password</label>
          @*<input class="form-control" type="text" name="tags">*@
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div><br><br>.

        @*<div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
        </div>*@
        @*<div class="checkbox">
        <label>
        <input type="checkbox"> Check me out
        </label>
        </div>*@
        <button type="submit" class="btn btn-default">Login</button>
      </form>
}
