@(message: String)
@main("registration","default"){
  <form action="@routes.AllQuestions.addUser()" method="post" class="form-inline">
    <h3>@message</h3>
    <div class="form-group">
      <label for="Email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email">
    </div><br><br>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Enter username">
    </div><br><br>

    <div class="form-group">
      <label for="password">Password</label>
      @*<input class="form-control" type="text" name="tags">*@
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div><br><br>.

    @*<div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>*@
    @*<div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>*@
    <button type="submit" class="btn btn-default">Register</button>
  </form>
}