@(allAnswers: List[Answer])(question: Question)(user: User)

@main("showQuestion", user.username) {
    <div class="container-fluid" >
        <ol class="breadcrumb breadcrumbstyle"  >
            <li><a href="@routes.AllQuestions.showAll(user.id)">Home</a></li>
            <li class="active">@question.title</li>
                <!--<li><a href="#">Private</a></li>
    			<li><a href="#">Pictures</a></li> -->
        </ol>
        <div class="row">
            <div class="col-sm-12">
                <a href="@routes.AllQuestions.addQuestion(user.id)" class="btn btn-info btn-lg btn-block" role="button" >Ask a question </a>
            </div>
        </div>

            <br>
        <div class="panel-group" >
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-10">
                            <h2>@question.title</h2>
                        </div>
                        <div class="col-sm-2">
                            <h2>
                                <a class="btn btn-warning btn-lg" id="likeQuestion@question.id" role="button" onclick="likeQuestion(@question.id)">
                                <span class="glyphicon glyphicon-ok"></span>
                                </a>
                             </h2>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    @question.detail.
                </div>

                <div class="panel-footer">
                    <b>asked on</b>:@question.date <b>By:</b><em>@question.username</em>
                    <div class="row">
                        @*<div class="col-sm-4" >
                        <span class="label label-default">
                        *@@*<span class="glyphicon glyphicon-tags">
                        @question.tags
                        </span>*@@*
                        </span>
                        </div>*@
                        <div class="col-sm-2" >
                            @(question.totalAnswers) Answers
                        </div>


                        <div class="col-sm-1" >

                            <span id="quesLikes@question.id">@(question.likes)</span> <span class="glyphicon glyphicon-thumbs-up"> </span>
                        </div>
                        <div class="col-sm-3" >
                            @(question.views) Views
                        </div>

                        <div class="col-sm-3 col-sm-offset-3">
                            @*<a href="@routes.AllQuestions.addResponse(question.id,question.title,username)" class="btn btn-info btn-lg btn-block" role="button" >Write answer</a>*@
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#answer_section" aria-expanded="false" aria-controls="answer_section">
                                 Write answer</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-info collapse" id="answer_section">
                <div class="panel-heading">
                    Your Answer
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" action="@routes.AllQuestions.createResponse(question.id,user.id)" method="post">

                        <div class="row form-group">

                            <div class="col-md-12">
                                <textarea class="form-control"  name="response" rows="5"></textarea>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-xs-offset-8 col-xs-2">
                                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Save</button>
                            </div>
                        </div>


                    </form>

                </div>
            </div>

            @for(answer <- allAnswers){
                <div class="panel panel-success">
                    <div class="panel-heading">@answer.response</div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8">By <b> @answer.username</b>&nbsp;&nbsp;On <b>@answer.date</b> </div>

                            <div class="col-md-2">
                                <span id="numLikes@answer.id">@answer.likes</span>
                                <a class="btn btn-success btn-xs" id="voteUp@answer.id" role="button" onclick="voteUp(@answer.id)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <span id="numUnlikes@answer.id">@answer.dislikes</span>
                                <a class="btn btn-danger btn-xs" id="voteDown@answer.id" role="button" onclick="voteDown(@answer.id)">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br>

        </div>

    </div>
}

