@(allQuestions : List[Question])(user : User)(ans : List[Answer])

@main("showAll", user.username) {
  <div class="container-fluid" >
      <ol class="breadcrumb" id="breadcrumbs" >
          <li><a href="#">Home</a></li>
          <li class="active">All Questions</li>
              <!--<li><a href="#">Private</a></li>
    			<li><a href="#">Pictures</a></li> -->

      </ol>

      <div class="row">
          <div class="col-sm-12">
              <a href="@routes.AllQuestions.addQuestion(user.id)" class="btn btn-info btn-lg btn-block" role="button" >Ask a question </a>
          </div>
      </div>
  @for(question <- allQuestions){
      <br>
      <div class="panel-group" >
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <a class = "question-title" href="@routes.AllQuestions.showQuestion(question.id,question.title,user.id)" >
                      <h2>@question.title</h2>
                  </a>
              </div>

              <div class="panel-body">
                  <b>asked on</b>:@question.date <b>By:</b><em>@question.username</em>
                  <div class="row">
                      @*<div class="col-sm-4" >
                          <span class="label label-default">
                              *@@*<span class="glyphicon glyphicon-tags">
                                @question.tags
                              </span>*@@*

                          </span>

                      </div>*@
                      <div class="col-sm-2" >
                          @(question.totalAnswers) Answers
                      </div>


                      <div class="col-sm-1" >
                        1 <span class="glyphicon glyphicon-thumbs-up"> </span>
                      </div>
                      <div class="col-sm-3" >
                       @(question.views) Views
                      </div>

                  </div>


              </div>

          </div>
      @for(a <- ans) {
          @if(a.quesId == question.id) {
              <div class="panel panel-success">
                  <div class="panel-heading">Best Answer</div>

                  <div class="panel-body">
                      @a.response</div>
              </div>
          }
      }
  </div>



}

</div>
}
